<!doctype html>
<html lang="{{site.language}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" href="{{site.favicon}}">
    <title>{{site.title}}</title>
    <meta name="description" content="{{site.description}}">
</head>
<body dir="ltr">
<header style="display: flex; align-items: center; justify-content: center; height: 90vh">
    <div>
        <img src="{{site.logo}}" width="250px" height="250px">
    </div>
</header>
<div style="text-align: center; font-family: sans-serif">Clapperboard Network</div>

{{ content }}

<footer>
</footer>
</body>
</html>